<div class="modal-backdrop">
    <div class="modal">
      <div class="modal-header">
        <h2>{{ title }}</h2>
        <hr />
      </div>
      <div class="modal-body">
        <p>{{ message }}</p>
      </div>
      <div class="modal-footer">
        <app-button  
          [class]="'btn-cancel btn-sm'" 
          (click)="onCancel()"  
          [label]="'No'"
        />
        <app-button  
          [class]="'btn-confirm btn-sm'"
          (click)="onConfirm()" 
          [label]="'Yes'"
        />
      </div>
    </div>
  </div>
  