<div class="container">
  <form [formGroup]="registerForm">
    <div class="row mb-4">
      <div class="col-12 text-center">
        <h2 class="create-account-text">Create a new account</h2>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-md-6 col-12">
        <app-input 
          label="Email" 
          type="email" 
          name="email" 
          placeholder="Enter your email" 
          [required]="true"
          formControlName="email"
          [hasError]="(registerForm.get('email')?.invalid && registerForm.get('email')?.touched) ?? false"
        />
        <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="text-danger">
          <small *ngIf="registerForm.get('email')?.errors?.['required']">Email is required.</small>
          <small *ngIf="registerForm.get('email')?.errors?.['email']">Please enter a valid email address.</small>
        </div>
      </div>
      <div class="col-md-6 col-12 mt-3 mt-md-0">
        <app-input 
          label="Password" 
          type="password" 
          name="password" 
          placeholder="Enter your password" 
          [required]="true"
          formControlName="password"
          [hasError]="(registerForm.get('password')?.invalid && registerForm.get('password')?.touched) ?? false"
        />
        <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="text-danger">
          <small *ngIf="registerForm.get('password')?.errors?.['required']">Password is required.</small>
          <small *ngIf="registerForm.get('password')?.errors?.['minlength']">
            Password must be at least 6 characters long.
          </small>
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-md-4 col-12">
        <app-input 
          label="First Name" 
          type="text" 
          name="name" 
          placeholder="Enter your first name" 
          [required]="true"
          formControlName="name"
          [hasError]="(registerForm.get('name')?.invalid && registerForm.get('name')?.touched) ?? false"
        />
        <div *ngIf="registerForm.get('name')?.invalid && registerForm.get('name')?.touched" class="text-danger">
          <small *ngIf="registerForm.get('name')?.errors?.['required']">First name is required.</small>
          <small *ngIf="registerForm.get('name')?.errors?.['maxlength']">Maximum 100 characters allowed.</small>
        </div>
      </div>
      <div class="col-md-4 col-12 mt-3 mt-md-0">
        <app-input 
          label="Last Name" 
          type="text" 
          name="lastname" 
          placeholder="Enter your last name" 
          [required]="true"
          formControlName="lastname"
          [hasError]="(registerForm.get('lastname')?.invalid && registerForm.get('lastname')?.touched) ?? false"
        />
        <div *ngIf="registerForm.get('lastname')?.invalid && registerForm.get('lastname')?.touched" class="text-danger">
          <small *ngIf="registerForm.get('lastname')?.errors?.['required']">Last name is required.</small>
          <small *ngIf="registerForm.get('lastname')?.errors?.['maxlength']">Maximum 100 characters allowed.</small>
        </div>
      </div>
      <div class="col-md-4 col-12 mt-3 mt-md-0">
        <app-input 
          label="Phone Number" 
          type="tel" 
          name="phoneNumber" 
          placeholder="Enter your phone number"
          [required]="true" formControlName="phoneNumber"
          [hasError]="(registerForm.get('phoneNumber')?.invalid && registerForm.get('phoneNumber')?.touched) ?? false"
        />
        <div *ngIf="registerForm.get('phoneNumber')?.invalid && registerForm.get('phoneNumber')?.touched"
          class="text-danger">
          <small *ngIf="registerForm.get('phoneNumber')?.errors?.['required']">Phone number is required.</small>
          <small *ngIf="registerForm.get('phoneNumber')?.errors?.['pattern']">Please enter a valid phone number.</small>
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-md-4 col-12">
        <app-input 
          label="Address" 
          type="text" 
          name="address" 
          placeholder="Enter your address" 
          [required]="true"
          formControlName="address"
          [hasError]="(registerForm.get('address')?.invalid && registerForm.get('address')?.touched) ?? false"
        />
        <div *ngIf="registerForm.get('address')?.invalid && registerForm.get('address')?.touched" class="text-danger">
          <small *ngIf="registerForm.get('address')?.errors?.['required']">Address is required.</small>
          <small *ngIf="registerForm.get('address')?.errors?.['maxlength']">Maximum 100 characters allowed.</small>
        </div>
      </div>
      <div class="col-md-4 col-12 mt-3 mt-md-0">
        <app-input 
          label="City" 
          type="text" 
          name="city" 
          placeholder="Enter your city" 
          [required]="true"
          formControlName="city"
          [hasError]="(registerForm.get('city')?.invalid && registerForm.get('city')?.touched) ?? false"
        />
        <div *ngIf="registerForm.get('city')?.invalid && registerForm.get('city')?.touched" class="text-danger">
          <small *ngIf="registerForm.get('city')?.errors?.['required']">City is required.</small>
          <small *ngIf="registerForm.get('city')?.errors?.['maxlength']">Maximum 100 characters allowed.</small>
        </div>
      </div>
      <div class="col-md-4 col-12 mt-3 mt-md-0">
        <app-input 
          label="Country" 
          type="text" 
          name="country" 
          placeholder="Enter your country" 
          [required]="true"
          formControlName="country"
          [hasError]="(registerForm.get('country')?.invalid && registerForm.get('country')?.touched) ?? false"
        />
        <div *ngIf="registerForm.get('country')?.invalid && registerForm.get('country')?.touched" class="text-danger">
          <small *ngIf="registerForm.get('country')?.errors?.['required']">Country is required.</small>
          <small *ngIf="registerForm.get('country')?.errors?.['maxlength']">Maximum 100 characters allowed.</small>
        </div>
      </div>
    </div>
    <div class="text-center">
      <app-button 
        label="Sign Up" 
        type="button" 
        size="lg" 
        class="btn-primary" 
        [disabled]="!registerForm.valid" 
        (clickEvent)="onRegister()"
      />
    </div>
    <div class="row mt-4">
      <div class="col-12">
        <hr class="styled-hr">
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12 text-center">
        <h2 class="have-account">You already have an account?</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <app-button 
          label="Sign In" 
          type="button" 
          class="btn-accent" 
          (clickEvent)="onSignInClick()"
        />
      </div>
    </div>
  </form>
</div>