<header class="page-header">
    <div class="header-left">
      <h1 class="title">My surveys</h1>
    </div>
    <div class="header-center">
      <app-switch-view (viewChanged)="onViewChanged($event)"></app-switch-view>
      <div class="search-container">
        <app-search-input placeholder="Search..." (searchChanged)="onSearchChanged($event)"></app-search-input>
      </div>
      <app-basic-dropdown [items]="orderDropdownItems" (orderChanged)="onOrderChanged($event)"></app-basic-dropdown>
    </div>
    <div class="header-right">
      <app-button [class]="'btn-primary'" label="New survey" (clickEvent)="onNewSurvey()"></app-button>
    </div>
  </header>