:root {
    --primary-color: #4B70F5;
    --secondary-color: #4C3BCF;
    --tercial-color: #3DC2EC;
    --accent-color: #402E7A;
    --black-color: #000;
    --white-color: #fff;
    --error-color: #DC3545;
}