:root {
    --primary-color: #4B70F5;
    --secondary-color: #4C3BCF;
    --tercial-color: #009FBD;
    --accent-color: #910A67;
    --dark-color: #0f0942;
    --black-color: #000;
    --white-color: #fff;
    --error-color: #DC3545;
    --bg-color: #b6b3d1;

    --font-quicksand: 'Quicksand', sans-serif;
    --font-montserrat: 'Montserrat', sans-serif;
}

body {
    font-family: var(--font-montserrat) !important;
    background-color: var(--dark-color) !important;
}