<div class="title">
  <h1>Delete my account</h1>
</div>

<div class="delete-account-container">
  <p>Please enter your password to confirm this action. This action is final.</p>
  <form 
    [formGroup]="deleteForm" 
    (ngSubmit)="onDeleteAccount()"
  >
    <app-input
      label="Password"
      type="password"
      name="password"
      placeholder="Enter your password"
      [required]="true"
      formControlName="password"
      [hasError]="(deleteForm.get('password')?.invalid && deleteForm.get('password')?.touched) ?? false"
    />
    <div *ngIf="deleteForm.get('password')?.invalid && deleteForm.get('password')?.touched" class="text-danger">
      <small *ngIf="deleteForm.get('password')?.errors?.['required']">Password is required.</small>
      <small *ngIf="deleteForm.get('password')?.errors?.['minlength']">
        Password must be at least 6 characters long.
      </small>
    </div>
    <app-button
      [label]="'Delete'"
      [class]="'btn-primary btn-lg'"
      [type]="'submit'"
      [disabled]="!deleteForm.valid"
    />
  </form>
</div>
