<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="page-title text-center">Change Password</h2>
      <div class="container">
        <form [formGroup]="changePasswordForm">
        <div class="mb-4">
          <app-input
            label="Old Password"
            type="password"
            name="oldPassword"
            placeholder="Enter your old password"
            [required]="true"
            formControlName="oldPassword"
            [hasError]="
              (changePasswordForm.get('oldPassword')?.invalid &&
                changePasswordForm.get('oldPassword')?.touched) ??
              false
            "
          ></app-input>
          <div
            *ngIf="
              changePasswordForm.get('oldPassword')?.invalid &&
              changePasswordForm.get('oldPassword')?.touched
            "
            class="text-danger"
          >
            <small *ngIf="changePasswordForm.get('oldPassword')?.errors?.['required']">
              Old Password is required.
            </small>
          </div>
        </div>
        <div class="mb-4">
          <app-input
            label="New Password"
            type="password"
            name="newPassword"
            placeholder="Enter your new password"
            [required]="true"
            formControlName="newPassword"
            [hasError]="
              (changePasswordForm.get('newPassword')?.invalid &&
                changePasswordForm.get('newPassword')?.touched) ??
              false
            "
          ></app-input>
          <div
            *ngIf="
              changePasswordForm.get('newPassword')?.invalid &&
              changePasswordForm.get('newPassword')?.touched
            "
            class="text-danger"
          >
            <small *ngIf="changePasswordForm.get('newPassword')?.errors?.['required']">
              New Password is required.
            </small>
            <small *ngIf="changePasswordForm.get('newPassword')?.errors?.['minlength']">
              Password must be at least 6 characters.
            </small>
            <small *ngIf="changePasswordForm.get('newPassword')?.errors?.['sameAsOldPassword']">
              New password cannot be the same as the old password.
            </small>
          </div>
        </div>
        <div class="mb-4">
          <app-input
            label="Confirm New Password"
            type="password"
            name="confirmPassword"
            placeholder="Re-enter your new password"
            [required]="true"
            formControlName="confirmPassword"
            [hasError]="
              (changePasswordForm.get('confirmPassword')?.invalid &&
                changePasswordForm.get('confirmPassword')?.touched) ??
              false
            "
          ></app-input>
          <div
            *ngIf="
              changePasswordForm.get('confirmPassword')?.invalid &&
              changePasswordForm.get('confirmPassword')?.touched
            "
            class="text-danger"
          >
            <small *ngIf="changePasswordForm.get('confirmPassword')?.errors?.['required']">
              Confirm Password is required.
            </small>
          </div>
        </div>
        <!-- Warning for mismatched passwords -->
        <div
          *ngIf="
            changePasswordForm.errors?.['mismatch'] &&
            (changePasswordForm.get('newPassword')?.touched ||
              changePasswordForm.get('confirmPassword')?.touched)
          "
          class="text-danger text-center"
        >
          <small>Passwords do not match.</small>
        </div>
        <div class="text-center">
          <app-button
            label="Change Password"
            type="button"
            class="btn-primary"
            [disabled]="!changePasswordForm.valid"
            (clickEvent)="onChangePassword()"
          ></app-button>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>
