<nav class="navbar navbar-light" *ngIf="!(hideEntireNavbar | async)">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <a 
          class="navbar-logo" 
          [routerLink]="[RouteNames.HomeRoute]" 
          routerLinkActive="active"
        >
          <img
            src="../../../../../assets/images/logo-navbar.png"
            alt="Logo Image"
            [routerLink]="[RouteNames.HomeRoute]"
            routerLinkActive="active"
          />
          <span>Survey<b>Master</b></span>
        </a>
      </div>
      <div class="col-md-6 right-menu" *ngIf="!(hideUserSections | async)">
        <ul class="navbar-menu">
          <li class="navbar-menu-item">
            <a 
              [routerLink]="[RouteNames.HomeRoute]" 
              routerLinkActive="active"
            >
              Dashboard
            </a>
          </li>
          <li class="navbar-menu-item">
            <a 
              [routerLink]="[RouteNames.ProfileRoute]" 
              routerLinkActive="active"
            >
              My Profile
            </a>
          </li>
          <li class="navbar-menu-item">
            <app-button
              type="button"
              class="btn-logout"
              [backgroundImage]="'assets/images/logout.png'"
              routerLinkActive="active"
              alt="Log Out"
              (click)="onLogout()"
            />
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
