.container {
    display: block;
}

.navbar {
    min-height: 100px;
    margin-bottom: 0;
    background: linear-gradient(to bottom, #4B70F5, #4C3BCF);
    outline-width: 0;
    padding: 10px 0;
    border-radius: 0 0 12px 12px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.6);
    position: relative;
    z-index: 50;
}

.navbar-brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;

    a {
        font-size: 36px;
        font-weight: 400;
        color: #fff;
        text-decoration: none;

        span {
            font-weight: 700;
        }
    }
}

.btn-logo {
    height: 70px;
    width: 70px;
    background-color: transparent;
    border-color: transparent;

    img {
        height: 60px;
    }
}

.right-menu {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.navbar-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar-menu-item {
    margin-left: 45px;
    align-self: right;

    a {
        text-decoration: none;
        color: #fff;
        font-size: 18px;
        font-weight: 600;
    }
}

.btn-logout {
    background-color: transparent;
    border-color: transparent;

    img {
        height: 35px;
        width: auto;
    }
}