.my-profile-container .sidebar {
  border-right: 1px solid #dee2e6;
  background-color: var(--white-color);
  color: var(--black--color);
}
.my-profile-container .sidebar h2 {
  text-align: center;
  font-size: x-large;
}
.my-profile-container .sidebar ul {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
}
.my-profile-container .sidebar ul li {
  width: 100%;
}
.my-profile-container .sidebar ul li a {
  text-align: center;
  color: #101213;
}
.my-profile-container .sidebar ul li a.active {
  background-color: #38516b;
  color: #fff;
  font-weight: bold;
}
.my-profile-container .sidebar ul li a:hover {
  background-color: #9abde0;
}
.my-profile-container .content {
  background-color: var(--dark);
  min-height: 100%;
}