<div class="general-info-container">
  <form [formGroup]="generalInfoForm" novalidate>
    <div class="form-group row">
      <div class="col">
        <app-input
          label="First Name"
          type="text"
          id="name"
          [required]="true"
          formControlName="name"
          placeholder="Enter your first name"
        ></app-input>
        <div *ngIf="generalInfoForm.get('name')?.touched && generalInfoForm.get('name')?.invalid" class="error">
          <small *ngIf="generalInfoForm.get('name')?.errors?.['required']">This field can't be empty.</small>
        </div>
      </div>
      <div class="col">
        <app-input
          label="Last Name"
          type="text"
          id="lastname"
          [required]="true"
          formControlName="lastname"
          placeholder="Enter your last name"
        ></app-input>
        <div *ngIf="generalInfoForm.get('lastname')?.touched && generalInfoForm.get('lastname')?.invalid" class="error">
          <small *ngIf="generalInfoForm.get('lastname')?.errors?.['required']">This field can't be empty.</small>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col">
        <app-input
          label="Email"
          type="email"
          id="email"
          [required]="true"
          formControlName="email"
          placeholder="Enter your email"
        ></app-input>
        <div *ngIf="generalInfoForm.get('email')?.touched && generalInfoForm.get('email')?.invalid" class="error">
          <small *ngIf="generalInfoForm.get('email')?.errors?.['required']">This field can't be empty.</small>
          <small *ngIf="generalInfoForm.get('email')?.errors?.['email']">Please enter a valid email.</small>
        </div>
      </div>
      <div class="col">
        <app-input
          label="Phone Number"
          type="text"
          id="phone_number"
          [required]="true"
          formControlName="phone_number"
          placeholder="Enter your phone number"
        ></app-input>
        <div *ngIf="generalInfoForm.get('phone_number')?.touched && generalInfoForm.get('phone_number')?.invalid" class="error">
          <small *ngIf="generalInfoForm.get('phone_number')?.errors?.['required']">This field can't be empty.</small>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col">
        <app-input
          label="Address"
          type="text"
          id="address"
          [required]="true"
          formControlName="address"
          placeholder="Enter your address"
        ></app-input>
        <div *ngIf="generalInfoForm.get('address')?.touched && generalInfoForm.get('address')?.invalid" class="error">
          <small *ngIf="generalInfoForm.get('address')?.errors?.['required']">This field can't be empty.</small>
        </div>
      </div>
      <div class="col">
        <app-input
          label="City"
          type="text"
          id="city"
          [required]="true"
          formControlName="city"
          placeholder="Enter your city"
        ></app-input>
        <div *ngIf="generalInfoForm.get('city')?.touched && generalInfoForm.get('city')?.invalid" class="error">
          <small *ngIf="generalInfoForm.get('city')?.errors?.['required']">This field can't be empty.</small>
        </div>
      </div>
    </div>

    <div class="form-group">
      <app-input
        label="Country"
        type="text"
        id="country"
        [required]="true"
        formControlName="country"
        placeholder="Enter your country"
      ></app-input>
      <div *ngIf="generalInfoForm.get('country')?.touched && generalInfoForm.get('country')?.invalid" class="error">
        <small *ngIf="generalInfoForm.get('country')?.errors?.['required']">This field can't be empty.</small>
      </div>
    </div>

    <div class="button-container">
      <app-button
        label="Save Changes"
        [class]="'btn-primary btn-lg'"
        [type]="'button'"
        [disabled]="generalInfoForm.invalid || !generalInfoForm.dirty"
        (click)="onSave()"
      ></app-button>
    </div>
  </form>
</div>
