:host {
    display: flex;
    align-items: stretch;
    min-height: 100vh;
  }
  
.container {
    display: flex;
    width: 100%;
}

.left-side {
    flex: 1;
    background-color: var(--purple-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    color: var(--white-color);
}
  
.left-side .content {
    text-align: center;
}
  
.left-side .title {
    font-size: 3rem;
    text-align: left;
    font-weight: bold;
    color: var(--white-color);
}
  
.left-side .subtitle {
    font-size: 1.5rem;
    color: #ddd;
}
  
.right-side {
    flex: 1;
    background-color: var(--white-color);
    padding: 3rem 5rem;
    margin: 3rem 0;
    border-radius: 1rem;
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.1);
}
  
.login-title {
    font-size: 2rem;
    color: var(--black-color);
    margin-bottom: 1rem;
}
  
.no-account {
    font-size: 1.2rem;
    color: var(--black-color);
    margin-bottom: 0.5rem;
}
  
button.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: #fff;
    transition: all 0.3s ease;
}
  
button.btn-primary:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}
  
button.btn-primary:disabled {
    background-color: #c3c3c3;
    border-color: #c3c3c3;
}
  
button.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
    color: #fff;
    transition: all 0.3s ease;
}
  
button.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
}
  
button.btn-secondary:disabled {
    background-color: #c3c3c3;
    border-color: #c3c3c3;
}
  
.styled-hr {
    border: none;
    border-top: 2px solid #ccc;
    margin: 1rem 0;
}
  
.form-label,
::placeholder {
    color: #212529;
}
  